# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

node_modules
npm-debug.log
config.php
vendor

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-content/backup-db
/wp-content/backups
/wp-content/updraft
/wp-content/mu-plugins-old
/wp-content/wflogs
/wp-content/docket-cache-data
/wp-content/advanced-cache-backup.php
/wp-content/object-cache-backup.php
wp-cache-config.php
/wp-content/plugins/
/wp-content/mu-plugins
/wp-content/upgrade/
/wp-content/uploads/
/wp-content/cache/
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes